/* Created By TheMadWeaz */
/* Rustic */
body {font-family: verdana;font-size: 8pt;background-color:#000000;color:#808080;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #cfa525;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: veranda;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #1f677e}
b.b1 {color: #ffff00;font-weight: normal}
b.b2 {color: #bfa940}
b.cloak{color: #633232}
A:link {text-decoration: none;font-weight: bold;color:#a58421}
A:visited {text-decoration: none;font-weight: bold;color:#a58421}
A:hover {text-decoration: underline;font-weight: bold;color:#959595}