/* Created 30/1/01 By Moriarty */
/* Light Green/Aqua and Black */
body {font-family: Arial, Helvetica, sans-serif;font-size: 10pt;background-color:#000000;color:#FFFFFF;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #55FFAA;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: Arial, Helvetica, sans-serif;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #A0C0A0}
b.b1 {color: #00FFEE;font-weight: normal}
b.b2 {color: #00FFFF}
b.cloak{color: #555555}
A:link {text-decoration: none;font-weight: bold;color:#55FFAA}
A:visited {text-decoration: none;font-weight: bold;color:#55FF91}
A:hover {text-decoration: underline;font-weight: bold;color:#55FF81}