/* Created By TheMadWeaz */
/* Molten */
body {font-family: verdana;font-size: 8pt;background-color:#000000;color:#b70000;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #b70000;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}

.nav {font-family: veranda;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #ff8000}
b.b1 {color: #ff0000;font-weight: normal}
b.b2 {color: #c86931}
b.cloak{color:#9a7103}
A:link {text-decoration: none;font-weight: bold;color:#f7b324}
A:visited {text-decoration: none;font-weight: bold;color:#f7b324}
A:hover {text-decoration: underline;font-weight: bold;color:#6c6c6c}