body {font-family: Arial, Helvetica, sans-serif;font-size: 10pt;background-color:#000000;color:#DDDDFF;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #0091ff;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A7A7A7;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: Arial, Helvetica, sans-serif;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #A0A0BB}
b.b1 {color: #00AAFF;font-weight: normal}
b.b2 {color: #00AACC}
b.cloak{color: #555555}
A:link {text-decoration: none;font-weight: bold;color:#0091ff}
A:visited {text-decoration: none;font-weight: bold;color:#0091FF}
A:hover {text-decoration: underline;font-weight: bold;color:#0091FF}