/* Created By TheMadWeaz */
/* The Golden Age */
body {font-family: verdana;font-size: 8pt;background-color:#000000;color:#9c9d8a;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #9c9d8a;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}

.nav {font-family: veranda;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #a8a800}
b.b1 {color: #ffff4d;font-weight: normal}
b.b2 {color: #808000}
b.cloak{color:#ff8000}
A:link {text-decoration: none;font-weight: bold;color:#fbcf04}
A:visited {text-decoration: none;font-weight: bold;color:#fbcf04}
A:hover {text-decoration: underline;font-weight: bold;color:#929292}