body {font-family: Times, Helvetica, sans-serif;font-size: 10pt;background-color:#200020;color:#FFFFFF;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #FF6666;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: Times, Helvetica, sans-serif;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #808080}
b.b1 {color: #808080;font-weight: normal}
b.b2 {color: #00FF00}
b.cloak{color: #00FF00}
A:link {text-decoration: none;font-weight: bold;color:#004080}
A:visited {text-decoration: none;font-weight: bold;color: #004080}
A:hover {text-decoration: underline;font-weight: bold;color:#000080}