body {font-family: Arial, Helvetica, sans-serif;font-size: 10pt;background-color:#000000;color:#EEEEFF; 
scrollbar-3d-light-color: Black; 
scrollbar-arrow-color: #0091BB; 
scrollbar-dark-shadow-color: Gray; 
scrollbar-shadow-color: #A7A7A7; 
scrollbar-highlight-color: Black; 
scrollbar-base-color: #F5F5DC; 
scrollbar-face-color: #4F4F4F; 
} 
.nav {font-family: Arial, Helvetica, sans-serif;color: #000000} 

th {font-size: 10pt;font-weight: bold} 
td {font-size: 10pt;} 
form {font-size: 10pt} 
b {color: #A0A0BB} 
b.b1 {color: #00AAFF;font-weight: normal} 
b.b2 {color: #00AACC} 
b.cloak{color: #555555} 
A:link {text-decoration: none;font-weight: bold;color:#00BBBB} 
A:visited {text-decoration: none;font-weight: bold;color:#00BBBB} 
A:hover {text-decoration: underline;font-weight: bold;color:#00BBBB} 
A:active {text-decoration:underline;font-weight:bold;color:#00BBBB} 
input { 
background-color:#000000; 
font-family:Helvetica,Arial,Times New Roman; 
color:#00BBBB; 
margin:1px; 
padding:1px; 
border:solid 1px #505050; 
font-size:10pt; 
} 

select { 
background-color:#000000; 
font-family:Helvetica,Arial,Times New Roman; 
color:#00BBBB; 
margin:1px; 
padding:1px; 
border:solid 1px #505050; 
font-size:10pt; 
} 

.givebg { 
background-color:#484956; 
} 

textarea { 
background-color:#000000; 
font-family:Helvetica,Arial,Times New Roman; 
color:#00BBBB; 
margin:1px; 
padding:1px; 
border:solid 1px #505050; 
font-size:10pt; 
} 

.bigtext { 
font-size:14pt; 
color:#00BBBB; 
} 

td.header_smalltd { 
font-size:8pt; 
background-color:#808080; 
} 

td.body_smalltd { 
font-size:8pt; 
background-color:#505050; 
border-bottom: solid 1px #a1a1a1; 
} 

a.body_small { 
color:#003366; 
} 

a:link.header_small,a:visited.header_small { 
color:#003366; 
} 

a:hover.header_small,a:active.header_small { 
color:#003366; 
}