/* Created By TheMadWeaz */
/* Alien */
body {font-family: verdana;font-size: 8pt;background-color:#000000;color:#808080;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #00ff00;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: veranda;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #00b500}
b.b1 {color: #9cbf75;font-weight: normal}
b.b2 {color: #005ab5}
b.cloak{color: #808080}
A:link {text-decoration: none;font-weight: bold;color:#008e8e}
A:visited {text-decoration: none;font-weight: bold;color:#008e8e}
A:hover {text-decoration: underline;font-weight: bold;color:#929292}