/* Created By TheMadWeaz */
/* Ice Age */
body {font-family: verdana;font-size: 8pt;background-color:#000000;color:#ffffff;
scrollbar-3d-light-color: Black;
scrollbar-arrow-color: #ffffff;
scrollbar-dark-shadow-color: Gray;
scrollbar-shadow-color: #A9A9A9;
scrollbar-highlight-color: Black;
scrollbar-base-color: #F5F5DC;
scrollbar-face-color: #4F4F4F;
}
.nav {font-family: veranda;color: #000000}

th {font-size: 10pt;font-weight: bold}
td {font-size: 10pt;}
form {font-size: 10pt}
b {color: #1ca3e3}
b.b1 {color: #b1cbd8;font-weight: normal}
b.b2 {color: #005ab5}
b.cloak{color: #a9ab96}
A:link {text-decoration: none;font-weight: bold;color:c0c5fe}
A:visited {text-decoration: none;font-weight: bold;color:#c0c5fe}
A:hover {text-decoration: underline;font-weight: bold;color:#929292}