html {
	font: 100% sans-serif;
}

#stage {
	margin: 0.5em 0.5em;
	padding: 0.23em 0.5em;
	border-left: 0.5em solid #666666;
	border-right: 0.5em solid #666666;
	background-color: #E0E0E0;
	font-weight: bold;
}

#stage li {
	display: inline;
	border-left: 1px solid #CCCCCC;
	margin: 0px;
}

#stage li.active {
	padding: 0.25em 0.5em;
	background-color: #333333;
	color: #CCCCCC;
}

#stage li a {
	padding: 0.25em 0.5em;
	color: #333333;
	background-color: #F0F0F0;
	text-decoration: none;
}

#stage li a:hover {
	background-color: #666666;
	color: #CCCCCC;
}

input.text, textarea, select {
	font-family: monospace;
}
