html {
	background: Black;
	color: #F0F0F0;
	font-family: sans-serif;
	font-size: small;
	margin: 0;
}

body {
	margin: 1em;
}

#logo {
	margin: 1em;
	text-align: center;
}

#splash {
	width: 60em;
	margin: 1em auto;
}

/* Login form */
#login {
	width: 14em;
	border: Thin outset #666666;
	padding: 0.5em;
	margin: 1em;
	float: left;
	background: #102033 url(dark_gradient.png) repeat-x;
	text-align: center;
}

#login h2 {
	margin: 0.5em;
}

#login dl {
	margin: 0.2em;
}

#login dd, #login dt {
	margin: 0.2em;
}

#login label {
	font-weight: bold;
}

#loginContent {
	margin-left: 18em;
	text-align: justify;
}

#gameExtras {
	float: right;
	width: 18%;
	padding: 10px;
}

#gameList {
	border: Thin outset #666666;
	padding: 2em;
	background: #102033 url(dark_gradient.png) repeat-x;
	margin-right: 22%;
}

h1 {
	font-size: 193%;
	font-weight: normal;
}
h2 {
	font-size: 131%;
}

h2.earth {
	padding-left: 30px;
	margin-left: 10px;
	background: url(tn/earth.jpg) no-repeat left top;
}
h2.planet {
	padding-left: 30px;
	margin-left: 10px;
	background: url(tn/planet.jpg) no-repeat left top;
}
h2.port {
	padding-left: 40px;
	background: url(tn/port.jpg) no-repeat left top;
}
h2.ship {
	padding-left: 34px;
	margin-left: 6px;
	background: url(tn/ship.jpg) no-repeat left top;
}


a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #99B0FF;
}
a:link:hover, a:visited:hover {
	text-decoration: underline;
}


#gameMenu {
	list-style: none;
	width: 17.5%;
	text-align: center;
	margin: 1em 1%;
	position: absolute;
	left: 0;
	top: 0;
}
#gameMenu a {
	color: #E1F0FF;
}
#gameMenu h1, #gameMenu h2 {
	font-size: 125%;
	font-weight: bold;
	margin: 0.5em 0 0 0;
	background: #334566 url(sidebar-box.png) top left;
	padding: 0 0 0 20px;
}
#gameMenu h1 em, #gameMenu h2 em {
	background: #334566 url(sidebar-box.png) top right;
	display: block;
	padding: 5px 20px 5px 0;
	font-style: normal;
}

#gameMenu ul {
	padding: 0.25em;
}
#gameMenu li {
	list-style: none;
	padding: 0.05em;
}
#gameMenu table {
	margin: 0px auto;
	text-align: left;
}
#gameMenu th {
	color: #999999;
}
#gameMenu td {
	padding: 1px;
}

#gameMenu p {
	padding: 2px;
}

#gameMenu p, #gameMenu div, #gameMenu ul {
	background: #102033;
	display: block;
	margin: 0;
	border-left: 1px solid #333339;
	border-right: 1px solid #282833;
	border-bottom: 1px solid #202030;
}

#gameBody {
	margin-top: 0.5em;
	margin-left: 19%;
}

#locInfo {
	margin-right: 220px;
}

#locBar {
	float: right;
	text-align: right;
	margin: 0 5px;
	padding: 0 5px;
}

#miniMap {
	border: Thin outset White;
}

a img {
	border: none;
}

dt {
	font-weight: bold;
	margin: 10px 0;
	color: #999999;
}
dd {
	margin-bottom: 5px;
}

b {
	color: #CCCCCC;
}

.cloaked {
	color: #666666;
}

table.shipListing {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-collapse: collapse;
	margin: 5px 0;
}

table.shipListing th, table.shipListing td {
	padding: 6px;
}

table.shipListing th {
	background: #364045 url(blue_input_text.png) repeat-x;
	border-right: 1px solid #333340;
	border-bottom: 1px solid #333340;
}

table.shipListing td {
	border-right: 1px solid #333340;
	border-bottom: 1px solid #333340;
}

table.simple {
	background: #243446;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-collapse: collapse;
	margin-top: 10px;
}

table.simple th, table.simple td {
	padding: 6px;
}

table.simple th {
	background: #364045 url(blue_input_text.png) repeat-x;
	border-right: 1px solid #333335;
	border-bottom: 1px solid #333335;
}

table.simple td {
	background: #162025;
	border-right: 1px solid #333335;
	border-bottom: 1px solid #333335;
}


table.attackReport {
	text-align: center;
}

table.attackReport th {
	padding: 0.5em;
	font-size: large;
}

table.attackReport td {
	padding: 0.2em;
}


input.text {
	background: #364045 url(blue_input_text.png) repeat-x;
	border: 1px inset #CCCCFF;
}

textarea {
	background: #121619;
	border: 1px inset #666666;
}

input.text, textarea {
	padding: 0.25em;
	color: white;
	font-family: monospace;
}

input.button {
	cursor: pointer;
	background: #56828D url(blue_button.jpg) repeat-x;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 0.25em;
	border: 1px outset #CCCCFF;
}
input.button:hover {
	border: 1px outset white;
}
input.button:active {
	background: #A7C5C7 url(blue_button_over.jpg) repeat-x;
	border: 1px inset white;
}

select {
	background: #A7C5C7 url(blue_button_over.jpg) repeat-x;
}

.figure {
	margin: 0.5em 2em;
	padding: 1em;
}

#newsSearch {
	padding: 0.25em;
}

#newsSearch dt, #newsSearch dd {
	display: inline;
}

#newsSearch dt {
	margin: 0;
	padding: 0.25em;
}

#newsSearch dd {
	margin: 0;
	padding: 0.25em;
	padding-right: 0.5em;
}

#news em {
	text-decoration: underline;
	font-style: normal;
}
