html {
	background: #000;
	color: #F0F0F0;
	font-family: Verdana, sans-serif;
	font-size: 80%;
}

body {
	margin: 0 auto;
	width: 60em;
}

a img {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}


a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #99B0FF;
}
a:link:hover, a:visited:hover {
	text-decoration: underline;
}

#logo {
	margin: 1em;
	text-align: center;
}


/* Sidebar */
#splashSidebar {
	width: 14em;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #666666;
	margin: 1em;
	padding: 0;
	float: left;
	background: #102033 url(dark_gradient.png) repeat-x;
	text-align: right;
	list-style: none;
}
#splashSidebar li {
	padding: 0.5em;
	border-top: 1px solid #666666;
}

/* Login form */
#loginSection form {
	margin: 0;
	padding: 0;
}
#loginSection h2 {
	font-size: 120%;
	margin: 0.25em 0em;
}
#loginSection dl {
	margin: 0.25em;
}
#loginSection dd, #loginSection dt {
	margin: 0.125em;
}
#loginSection dt {
	margin-top: 0.5em;
	font-weight: bold;
}
#loginSection h3 {
	font-size: 110%;
	margin: 0.5em 0em 0em 0em;
}
#loginSection ul {
	margin: 0;
	padding: 0;
	font-size: 80%;
}
#loginSection li {
	margin: 0.125em;
    list-style: none;
}

#splashContent {
	margin-left: 16em;
	padding-left: 1em;
	border-left: 1px solid #333333;
	text-align: justify;
}
#splashContent h1 {
	font-size: 193%;
	font-weight: normal;
}
#splashContent h2 {
	font-size: 131%;
	border-bottom: 1px solid #CCCCCC;
	padding: 0.125em 0;
}
#splashContent h3 {
	font-size: 115%;
}

#splashContent dt {
	font-weight: bold;
	margin-top: 0.5em;
	color: #E0E0E0;
	padding: 0.125em 0em;
}
#splashContent dt.submit, #splashContent dd {
	margin: 0.25em 0em;
	padding: 0em 0em 0em 1.5em;
}

#gameList {
	border: 2px outset #666;
	padding: 2em;
	background: #102033 url(dark_gradient.png) repeat-x;
}


input.text, select {
	background: #364045 url(blue_input_text.png) repeat-x;
}

textarea {
	background: #121619;
	border: 1px inset #666666;
}

input.text, textarea {
	padding: 0.25em;
	color: #FFF;
	font-family: monospace;
	font-size: 1.125em;
	border: 1px inset #CCCCFF;
}

input.button {
	cursor: pointer;
	background: #56828D url(blue_button.jpg) repeat-x;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 0.25em;
	border: 1px outset #CCCCFF;
}
input.button:hover {
	border: 1px outset white;
}
input.button:active {
	background: #A7C5C7 url(blue_button_over.jpg) repeat-x;
	border: 1px inset white;
}


/*#gameMenu {
	list-style: none;
	width: 17.5%;
	text-align: center;
	margin: 1em 1%;
	position: absolute;
	left: 0;
	top: 0;
}
#gameMenu a {
	color: #E1F0FF;
}
#gameMenu h1, #gameMenu h2 {
	font-size: 125%;
	font-weight: bold;
	margin: 0.5em 0 0 0;
	background: #334566 url(sidebar-box.png) top left;
	padding: 0 0 0 20px;
	border: 0 none;
}
#gameMenu h1 em, #gameMenu h2 em {
	background: #334566 url(sidebar-box.png) top right;
	display: block;
	padding: 5px 20px 5px 0;
	font-style: normal;
}

#gameMenu ul {
	padding: 0.25em;
}
#gameMenu li {
	list-style: none;
	padding: 0.05em;
}
#gameMenu table {
	margin: 0px auto;
	text-align: left;
}
#gameMenu th {
	color: #999999;
}
#gameMenu td {
	padding: 1px;
}

#gameMenu p {
	padding: 2px;
}

#gameMenu p, #gameMenu div, #gameMenu ul {
	background: #102033;
	display: block;
	margin: 0;
	border-left: 1px solid #333339;
	border-right: 1px solid #282833;
	border-bottom: 1px solid #202030;
}

#gameBody {
	margin-top: 0.5em;
	margin-left: 19%;
}

#locInfo {
	margin-right: 220px;
}

#locBar {
	float: right;
	text-align: right;
	margin: 0 5px;
	padding: 0 5px;
}

#miniMap {
	border: Thin outset White;
}

.cloaked {
	color: #666666;
}

table.shipListing {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-collapse: collapse;
	margin: 5px 0;
}

table.shipListing th, table.shipListing td {
	padding: 6px;
}

table.shipListing th {
	background: #364045 url(blue_input_text.png) repeat-x;
	border-right: 1px solid #333340;
	border-bottom: 1px solid #333340;
}

table.shipListing td {
	border-right: 1px solid #333340;
	border-bottom: 1px solid #333340;
}

table.simple {
	background: #243446;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-collapse: collapse;
	margin-top: 10px;
}

table.simple th, table.simple td {
	padding: 6px;
}

table.simple th {
	background: #364045 url(blue_input_text.png) repeat-x;
	border-right: 1px solid #333335;
	border-bottom: 1px solid #333335;
}

table.simple td {
	background: #162025;
	border-right: 1px solid #333335;
	border-bottom: 1px solid #333335;
}


table.attackReport {
	text-align: center;
}

table.attackReport th {
	padding: 0.5em;
	font-size: large;
}

table.attackReport td {
	padding: 0.2em;
}




h2.earth {
	padding-left: 30px;
	margin-left: 10px;
	background: url(tn/earth.jpg) no-repeat left top;
}
h2.planet {
	padding-left: 30px;
	margin-left: 10px;
	background: url(tn/planet.jpg) no-repeat left top;
}
h2.port {
	padding-left: 40px;
	background: url(tn/port.jpg) no-repeat left top;
}
h2.ship {
	padding-left: 34px;
	margin-left: 6px;
	background: url(tn/ship.jpg) no-repeat left top;
}



#newsSearch {
	padding: 0.25em;
}

#newsSearch dt, #newsSearch dd {
	display: inline;
}

#newsSearch dt {
	margin: 0;
	padding: 0.25em;
}

#newsSearch dd {
	margin: 0;
	padding: 0.25em;
	padding-right: 0.5em;
}

#news em {
	text-decoration: underline;
	font-style: normal;
}*/
